.about-hero-image {
	width: 100%;
}

.about-page-container {
	margin: 2em;
}

.about-hero-image {
	margin-bottom: 1em;
	border-radius: 12px;
}

.about-page-content {
	padding-inline: 1.5em;
	color: #161616;
	margin-bottom: 3.5em;
}

.about-page-content h1 {
	line-height: 38px;
	margin-bottom: 10px;
}

.about-page-content p {
	line-height: 25px;
}

.about-page-cta {
	background-color: #ffcc8d;
	color: #161616;
	padding-inline: 3.5em;
	padding-bottom: 3.5em;
	border-radius: 12px;
}

.about-page-cta h2 {
	margin: 0;
	padding-block: 3.5em;
}

.about-page-cta .link-button {
	background-color: #161616;
	color: white;
	border-radius: 10px;
}
