.about-hero-image {
	width: 100%;
}

.about-page-container {
	margin: 0 auto;
	padding-block: 2em;
	padding-inline: 1em;
	max-width: 1024px;
}

.about-hero-image {
	margin-bottom: 1em;
	border-radius: 5px;
}

.about-page-content {
	padding-inline: 1.5em;
	color: #161616;
	margin-bottom: 3.5em;
}

.about-page-content h1 {
	font-size: 1.875rem;
	line-height: 2.25rem;
	margin-block: 1.5rem;
}

.about-page-content p {
	line-height: 1.75rem;
	margin-bottom: 1.25rem;
}

.about-page-cta {
	background-color: #ffcc8d;
	color: #161616;
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 5px;
}

.about-page-cta h2 {
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 2.25rem;
	margin-bottom: 0.75rem;
}

.about-page-cta .link-button {
	background-color: #161616;
	color: white;
	border-radius: 10px;
	font-weight: 500;
}
