/* Header */

header {
	height: 85px;
	display: flex;
	align-items: center;
	padding-block: 0.6em;
	background-color: antiquewhite;
}

header .site-logo {
	color: black;
	margin-right: auto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5rem;
}

header a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 600;
	padding: 1em;
}

header a:hover {
	color: #161616;
	text-decoration: underline;
}

header .login-icon {
	height: 1.125rem;
	width: 1.125rem;
}

header .login-link {
	display: inline-flex;
	align-items: center;
}

/* Button */

.link-button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: none;
	padding: 0.75rem 1.375rem;
	color: initial;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.link-button:hover {
	transform: translate(1px, 1px);
}

/* Layout */

.site-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Footer */

footer {
	background-color: #161616;
	color: #aaa;
	height: 75px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	font-weight: 500;
}

/* NotFound page */

.not-found-container {
	padding-inline: 26px;
}

.not-found-container .link-button {
	width: 100%;
	background-color: #161616;
	color: white;
}
